/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: #000000;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Utility */

.bg-gray{
    background-color: #4A4A4A;
}


/* header */

section.settings{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.view-setting, .size{
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

/* main section */

main{
    margin: 3% 0;
}
main .windows{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.windows .image{
    display: flex;
    align-items: flex-end;
    background-image: url('https://picsum.photos/200');
    height: calc(100vh/7 - 10px);
    width: calc(100vw/7 - 10px - 1%);
}

.windows .image .user{
    font-size: 12px;
    backdrop-filter: blur(50px);
}



